.khan__book-pic {
  background-image: url(../../../images/khan-book.jpg);
  background-position: 0 0;
  background-size: cover;
  width: 608px;
  height: 620px;
  margin-top: 0;
  margin-right: 48px;
  margin-left: 0;
  margin-bottom: -100px;
 }
